div {
  background-color:#99cc00;
  padding:10px;
}

body {
  margin:0;
}

.container {
  display: grid;
  grid-template-columns:  1fr .05fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"  
  "projects . main"
  "projects . main"
}

.header{
  grid-area: header;
  text-align: center;
  border: 10px dotted black;
}
.projects {
  grid-area: projects;
}
.main {
  grid-area: main;
}

.project:hover{
  /* background-color: #45cc00; */
  color: blue;
  cursor: pointer;
}