div {
  padding:10px;
}

body {
  background-color:#80e980;
  margin:0;
  padding:0;
}

button {
  align-self: center;
  background-color: #342e37;
  color: #fafafa;
  border-radius: 10%;
}
button:hover{
  background-color:#0d0c0e;
  /* font-size: larger; */
}

.container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"  
  "projects detail adder"

}
.adder {
  grid-area: adder;
  text-align: right;
  width: 200px;
  border: 10px solid black;
  margin-top: 40px;
}
.main{
  margin-top: -20px;
}
.adder textarea {
  max-width:180px;
}

.adder button {
  text-align: left;
}

.header{
  grid-area: header;
  text-align: center;
  border: 10px dotted black;
}
.projects {
  grid-area: projects;
}

#subheading{
  font-size: smaller;
}

.detail {
  grid-area: detail;
  border: 2px solid silver;
  margin: 20px;
}

.project {
    color: blue;
    font-size: 18px;
}
.project:hover{
  font-size: larger;
  cursor: pointer;
}
.project-list td{
  /* border: 1px solid black; */
  padding-right: 40px;
}
.task-list {
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
}
.task-list td {
  padding-left: 12px;

}
.task{
  color: blue;
}
.task:hover {
  font-size: larger;
   cursor: pointer;
}

.high-priority{
  background-color: red;
}

.medium-priority{
  background-color: yellow;
}

.low-priority{
  background-color: green
}

.completed-task{
  text-decoration: line-through;
}

/* TASK DETAIL STYLES */
#active-title{
  background-color:#80e980;
  font-weight: bold;
  /* border: 1px solid #80e980; */
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
#active-description{
  background-color:#80e980;
  /* border: 1px solid #80e980; */
}
#active-due-date{
  background-color:#80e980;
  /* border: 1px solid #80e980; */
}
#active-priority{
  background-color:#80e980;
  border: 1px solid #80e980;
}

.arrows{
  /* padding:20px; */
  margin-left: 10px;
  /* margin-top: -5px; */
}
.arrows span{
  margin-right:10px;
  border: 1px solid black;
  padding: 8px;
  color: white;
  background-color: #342e37;
}

.arrows span:hover{
  background-color:#0d0c0e;
  cursor: pointer;
}
/* #up-arrow{

} */

/* #down-arrow{
  border: 1px solid black;
} */