div {

  padding:10px;

}

body {
  background-color:#80e980;
  margin:0;
  padding:0;
}

button {
  align-self: center;
  background-color: #342e37;
  color: #fafafa;
  border-radius: 10%;
}
button:hover{
  background-color:#0d0c0e;
  /* font-size: larger; */
}

.container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"  
  "projects detail adder"

}
.adder {
  grid-area: adder;
  text-align: right;
  width: 200px;
  border: 10px solid black;
  margin-top: 40px;
}
.main{
  margin-top: -20px;
}
.adder textarea {
  max-width:180px;
}

.adder button {
  text-align: left;
}

.header{
  grid-area: header;
  text-align: center;
  border: 10px dotted black;
}
.projects {
  grid-area: projects;
}

#subheading{
  font-size: smaller;
}

.detail {
  grid-area: detail;
  border: 2px solid silver;
  margin: 20px;
}

.project {
    color: blue;
}
.project:hover{
  font-size: larger;
  cursor: pointer;
}

.task-list {
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
}
.task-list td {
  padding-left: 12px;

}
.task{
  color: blue;
}
.task:hover {
  font-size: larger;
   cursor: pointer;
}

.high-priority{
  background-color: red;
}

.medium-priority{
  background-color: yellow;
}

.low-priority{
  background-color: green
}

.completed-task{
  text-decoration: line-through;
}